* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 1.2rem;
    border: 1px solid black;
    text-align: center;
    margin: 50px auto;
    padding: calc(100px / 2 - 1.2rem) 5px;
}

#green {
    color: green;
}

#red {
    color: red;
}